a.applinks{
    font-size:20px;
    text-decoration: none;
    color:#fff;
    transition: all 0.4s ease;
    border-radius: 5px;
    padding:5px;
    margin:7px;
    display:inline-block;
}
a.applinks:hover{
    color:#000;
    background:#fff;
    padding:10px;
    margin:2px;
}
a.applinks.unav{
    color:#888;
}
a.applinks.unav:hover{
    color:#000;
    background:#aaa;
}
.home{
    text-align: center;
}
div.appitems{
    border:1px #000 solid;
    border-radius: 5px;
    margin:10px;
}